<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Compartment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Compartment.Properties.Settings>
            <setting name="COM_PORT" serializeAs="String">
                <value />
            </setting>
            <setting name="COM_BAUDRATE" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="COM_DATA_BIT_LENGTH" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="COM_STOP_BIT_LENGTH" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="COM_PARITY" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="IS_EXIT_ERROR_IO_BOARD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IS_CHECK_SERIAL_OPENED" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IS_DOOR_RECOVER_ENABLE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IS_LEVER_RECOVER_ENABLE" serializeAs="String">
                <value>False</value>
            </setting>
        </Compartment.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="DeviceBinding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="MediaBinding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true" />
		</settings>
	</system.net>
</configuration>
